/** Base **/
body {
  color: #525f7f;
  font-family: 'Lato';
  background-color: #f7f9fc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23e3e8ef' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

header a,
footer a {
  color: #6069cc;
}

header a:hover,
footer a:hover {
  color: #33325d;
}

footer {
  font-size: 0.8em;
}

.bg-primary,
.btn-primary,
.btn-primary.dropdown-toggle {
  background-color: #6069cc !important;
  border: inherit;
}

.bg-primary:hover,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #555abf !important;
}

input:focus, textarea:focus, .btn:focus {
  border-color: #a9afe7 !important;
  box-shadow: 0 0 0 0.2rem #ced5f0 !important;
}

.rounded-25 {
  border-radius: 25%;
}

h2 {
  font-size: 1.25rem;
}

a {
  color: #24b47e;
  transition: color .35s;
}

a:hover {
  color: #33325d;
}
